@import "tailwindcss";

body {
  background-color: #259080;
  background-image: url("/bg-image.avif");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: cursive, Helvetica, sans-serif;
}

.slider-nav{
  animation: slide-down 0.9s ease-in-out forwards,
}

@keyframes slide-down {
  0%{ transform: translateY(-100%); opacity: 0 }
  100%{ transform: translateY(0); opacity: 1 }
}
  
@media (max-width: 640px) {
 
  nav div:nth-child(1){
    background-color: #06473d;
    position: sticky;
    top: 0;
    z-index: 10;
  }

}