@import "tailwindcss";

body {
  background-color: #259080;
  background-image: url("/bg-image.avif");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: cursive, Helvetica, sans-serif;
}
